#
# Configuration for startd
#
DAEMON_LIST = $(DAEMON_LIST) STARTD

#
# By default, assume local collector, but will be overridden by later configs
# 
COLLECTOR_HOST=$(CONDOR_HOST):9618

# Pool and worker setup
START = TRUE
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE
RANK = 0
CLAIM_WORKLIFE = 3600
JOB_RENICE_INCREMENT=0
GSI_DELEGATION_KEYBITS = 1024

# Network setup. Use shared port. 
UPDATE_COLLECTOR_WITH_TCP = True
UPDATE_INTERVAL = 30
CCB_ADDRESS = $(COLLECTOR_HOST)
PRIVATE_NETWORK_NAME = localdomain




