CONDOR_HOST = $(FULL_HOSTNAME)

START = TRUE
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE


DAEMON_LIST = $(DAEMON_LIST), SCHEDD

UID_DOMAIN=localhost.localdomain

# Security
ALLOW_WRITE = $(FULL_HOSTNAME), condor_pool@*/*
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS
SEC_PASSWORD_FILE = /etc/condor/password_file
QUEUE_SUPER_USERS = condor, condor_pool
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION  = True

# Networking
HIGHPORT = 9700
LOWPORT = 9600
CREDD_PORT = 9620
STORK_PORT = 9621
COLLECTOR_HOST=$(CONDOR_HOST):9618

COLLECTOR_ADDRESS_FILE = 
UPDATE_COLLECTOR_WITH_TCP = TRUE

# Scaling aids
SUBMIT_EXPRS = $(SUBMIT_EXPRS) JobLeaseDuration
JobLeaseDuration = 1800
NEGOTIATOR_INTERVAL = 900
TOOL_TIMEOUT_MULTIPLIER=2

#ALL_DEBUG = D_FULLDEBUG, D_COMMAND, D_SECURITY, D_NETWORK

# Added by Jaime Frey for debugging
MAX_SHADOW_LOG = 100000000
MAX_COLLECTOR_LOG = 100000000
MAX_NEGOTIATOR_LOG = 100000000

NEGOTIATOR_INTERVAL = 300
NEGOTIATOR_INFORM_STARTD = False
