# Security
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS
#ALLOW_WRITE *
ALLOW_WRITE = $(FULL_HOSTNAME), $(IP_ADDRESS), *, condor_pool@*/* , condor@*/*
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_PASSWORD_FILE = /etc/condor/password_file
QUEUE_SUPER_USERS = condor, condor_pool
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION  = True

