#
# Logging and Debugging configuration
#
# Logging
MAX_GRIDMANAGER_LOG=100Mb
GRIDMANAGER_DEBUG=D_FULLDEBUG
MAX_SHADOW_LOG = 100000000
MAX_COLLECTOR_LOG = 100000000
MAX_NEGOTIATOR_LOG = 100000000

# Debugging
#ALL_DEBUG = D_FULLDEBUG, D_COMMAND, D_SECURITY, D_NETWORK
#GRIDMANAGER_DEBUG=D_FULLDEBUG
#STARTD_DEBUG = D_PID D_COMMAND D_JOB D_MACHINE
#COLLECTOR.STATISTICS_TO_PUBLISH=DC:2d

