# Pool and worker setup
CONDOR_HOST = $(FULL_HOSTNAME)
COLLECTOR_NAME = Cloud Condor at $(FULL_HOSTNAME)
START = TRUE
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE
RANK = 0
CLAIM_WORKLIFE = 3600
JOB_RENICE_INCREMENT=0
GSI_DELEGATION_KEYBITS = 1024

DAEMON_LIST = $(DAEMON_LIST), STARTD
UID_DOMAIN = localhost.localdomain

# Network setup. Use shared port. 
COLLECTOR_HOST=$(CONDOR_HOST):9618
UPDATE_COLLECTOR_WITH_TCP = True
UPDATE_INTERVAL = 30
CCB_ADDRESS = $(COLLECTOR_HOST)
PRIVATE_NETWORK_NAME = localdomain
HIGHPORT = 9700
LOWPORT = 9600
#USE_SHARED_PORT = TRUE
#DAEMON_LIST =  $(DAEMON_LIST) SHARED_PORT


# Security
# Use password security.
ALLOW_WRITE = condor_pool@*
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS
SEC_PASSWORD_FILE = /etc/condor/password_file
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_DEFAULT_INTEGRITY = REQUIRED

SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION  = True
ALLOW_WRITE = $(ALLOW_WRITE), submit-side@matchsession/*
ALLOW_ADMINISTRATOR = condor_pool@*/*


# Job environment config
NUM_SLOTS = 1
USER_JOB_WRAPPER = /usr/libexec/jobwrapper.sh
SLOT1_USER = slot1
SLOT2_USER = slot2
SLOT3_USER = slot3
SLOT4_USER = slot4
SLOT5_USER = slot5
SLOT6_USER = slot6
SLOT7_USER = slot7
SLOT8_USER = slot8
SLOT9_USER = slot9
SLOT10_USER = slot10
SLOT11_USER = slot11
SLOT12_USER = slot12
SLOT13_USER = slot13
SLOT14_USER = slot14
SLOT15_USER = slot15
SLOT16_USER = slot16
SLOT17_USER = slot17
SLOT18_USER = slot18
SLOT19_USER = slot19
SLOT20_USER = slot20
SLOT21_USER = slot21
SLOT22_USER = slot22
SLOT23_USER = slot23
SLOT24_USER = slot24
SLOT25_USER = slot25
SLOT26_USER = slot26
SLOT27_USER = slot27
SLOT28_USER = slot28
SLOT29_USER = slot29
SLOT30_USER = slot30
SLOT31_USER = slot31
SLOT32_USER = slot32

SLOT1_1_USER = slot1
SLOT1_2_USER = slot2
SLOT1_3_USER = slot3
SLOT1_4_USER = slot4
SLOT1_5_USER = slot5
SLOT1_6_USER = slot6
SLOT1_7_USER = slot7
SLOT1_8_USER = slot8
SLOT1_9_USER = slot9
SLOT1_10_USER = slot10
SLOT1_11_USER = slot11
SLOT1_12_USER = slot12
SLOT1_13_USER = slot13
SLOT1_14_USER = slot14
SLOT1_15_USER = slot15
SLOT1_16_USER = slot16
SLOT1_17_USER = slot17
SLOT1_18_USER = slot18
SLOT1_19_USER = slot19
SLOT1_20_USER = slot20
SLOT1_21_USER = slot21
SLOT1_22_USER = slot22
SLOT1_23_USER = slot23
SLOT1_24_USER = slot24
SLOT1_25_USER = slot25
SLOT1_26_USER = slot26
SLOT1_27_USER = slot27
SLOT1_28_USER = slot28
SLOT1_29_USER = slot29
SLOT1_30_USER = slot30
SLOT1_31_USER = slot31
SLOT1_32_USER = slot32

DEDICATED_EXECUTE_ACCOUNT_REGEXP = slot.+
STARTER_ALLOW_RUNAS_OWNER = False
EXECUTE = /home/condor/execute

# Partitionable slots
SLOT_TYPE_1 = 100%
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1_PARTITIONABLE = True
SlotWeight = Cpus


# Debug settings
#ALL_DEBUG = D_FULLDEBUG, D_COMMAND, D_SECURITY, D_NETWORK
#STARTD_DEBUG = D_PID D_COMMAND D_JOB D_MACHINE

